* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #afaeae;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #626364;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    margin:0 auto;
}


body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #333232;
    color: #afaeae;

}

header {
    background: #141414;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 100;

}


.banner img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block; 
}

.banner {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative; 
    display: inline-block;
}

.logo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 48px;
    padding: 10px;
    text-align: center;
}

.about{
    padding: 80px;
    text-align: center;
    background-color: #272727;
    margin: auto;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    padding: 15px;
}

footer {
    background-color: #141414;
    color: #afaeae;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.terms{
    padding: 200px;
    text-align: center;
    background-color: #595757;
    margin: auto;
}

.terms h3 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(154, 153, 153);
}

.terms p {
    font-size: 18px;
}

.button {
  padding: 10px 20px;
  font-size: 15px;
  color: rgb(154, 153, 153);
  background-color: #282828;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #3f3f3f;
}

.input {
  width: 100%;
  max-width: 400px;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #797979;
  outline: none;
}

.input:focus {
  border-bottom-color: #555555;
}

.logo h1{
    background-color: rgba(57, 57, 57, 0.609);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}