* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #afaeae;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #626364;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    margin:0 auto;
}


body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #333232;
    color: #afaeae;

}

header {
    background: #141414;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 100;

}


.banner img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block; 
}

.banner {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative; 
    display: inline-block;
}

.logo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 48px;
    padding: 10px;
    text-align: center;
}

.about{
    padding: 80px;
    text-align: center;
    background-color: #272727;
    margin: auto;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
}

footer {
    background-color: #141414;
    color: #afaeae;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
